<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See_more</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="See_more.css">

</head>
<body>
    <div class="container">
        <!--Logo-->
    <img src="LOGO.jpg" alt="#" width="160" height="160">
        <h1> Nsovo & Nhlamu Catering Services </h1>

        <div class= "navbar">
            <ul>
                <li><a href="index.html">HOME</a></li>
                
                <li><a href="about_us .html">ABOUT US</a></li>

                <li><a href="services.html">SERVICES</a></li>

                <li><a href="contact.html">CONTACT</a></li>

                <li><a class="inquiry" href="inquiry.html">INQUIRY</a></li>
            
            </ul>
        </div>
       
    </div>

   <div class="card-container">
    <div class="card">
        <div class="card-content">
            <h3>Mission</h3>
            <p>To bring people together with our delightful cuisine, positively impacting our customers, community, and environment.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <h3>Vision</h3>
            <p>To grow our business, create employment opportunities within our community,
                 and become a leading catering service in South Africa and internationally.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <h3>Objectives</h3>
            <p>Customer Satisfaction: Deliver exceptional service and delectable food.
                Community Engagement: Offer employment opportunities and collaborate with local event planners.
                Flexibility: Adapt to diverse dietary needs and cultural preferences.
            </p>
        </div>
    </div>
   </div>


 </footer>
 </body>

 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>

 <p>Copyright &copy; 2024 All rights reserved by Zinhle Mkhabela</p>
 </html>