body{ 
    box-sizing: border-box;
    font-family: sans-serif;
    background-image: url(background\ image\ for\ about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

